:root {
    /*margenes  &  padding*/
    --001: 20px 40px 20px 20px;
    --002: 5px 10px;
    --003: 20px;

    /*text-color*/
    --white: #ffffff;
    --black: #000000;
    --barra: #656565;

    /*filtros*/
    --filtro: rgba(123, 65, 65, 0.454);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    position: relative;
}
section {
    max-width: 100vw;
    width: 100%;
    margin-bottom: 100px;
    overflow-y: hidden;
}

.btn-whatsapp{
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 50px;
    color: #1bcb30;
}

.btn-whatsapp i {
    font-size: 50px;
}


/*section hero*/

.hero {
    height: 100vh;
    background-image: url('https://www.gammabross.com/Gallery/salonimg-frkqkj-181.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--filtro);
    background-blend-mode: multiply;
    position: relative;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--001);
    color: var(--white);
}

header h1,
a {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
}

header .container-object {
    display: flex;
    gap: 20px;
}

.container-content-hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 40px;
}

.container-content-hero .h2 {
    color: var(--white);
    text-decoration: none;
    font-size: 50px;
}

.container-content-hero .h3 {
    color: var(--white);
    text-decoration: none;
    font-size: 25px;
}

.b {
    margin-bottom: 10px;
}

.container-content-hero button {
    background-color: transparent;
    border: 1.5px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    width: fit-content;
    padding: var(--002);
    font-size: 22px;
}

.container-object-lateral {
    margin-left: 100%;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    z-index: 999;
    background-color: rgba(42, 42, 42, 0.498);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 250ms ease-in;
}

.container-object-lateral.active {
    margin-left: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    z-index: 999;
    background-color: rgba(42, 42, 42, 0.498);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 250ms ease-in;
}

/* Secci贸n de Misi贸n, Visi贸n y Valores */
.mvv-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.mvv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.mvv-item {
    flex: 1;
    padding: 20px;
}

.mvv-item h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mvv-item p,
.mvv-item ul {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.mvv-item ul {
    list-style: none;
    padding: 0;
}

.mvv-item ul li {
    margin-bottom: 8px;
}

.mvv-divider {
    width: 1px;
    background-color: #aaa;
    height: 80%;
}

/* Secci贸n de servicies */

.servicies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.item-servicies {
    width: 100%;
    display: grid;
    color: var(--white);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
    background: rgb(123, 65, 65);
    background: -moz-linear-gradient(90deg, rgba(123, 65, 65, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(123, 65, 65, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(123, 65, 65, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b4141", endColorstr="#ffffff", GradientType=1);
}

.item-servicies:nth-child(2) {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(123, 65, 65, 1) 89%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(123, 65, 65, 1) 89%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(123, 65, 65, 1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#7b4141", GradientType=1);
}

.item-servicies img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.item-servicies img:nth-child(odd) {
    /* Para im谩genes en posiciones impares */
    clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
}

.item-servicies img:nth-child(even) {
    /* Para im谩genes en posiciones pares */
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
}

.item-servicies div {
    width: 85%;
}

.item-servicies p:nth-child(1) {
    font-size: 50px;
}

.item-servicies p:nth-child(1)::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
    border-radius: 30px;
    background-color: var(--white);
}

.item-servicies p:nth-child(2) {
    font-size: 25px;
}

.data-time {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.data-divider {
    width: 2px;
    background-color: #aaa;
    align-self: stretch;
    /* Hace que ocupe toda la altura del contenedor */
    margin: 0 15px;
}

.item-data p:nth-child(1) {
    font-size: 30px;
}

.item-data p:nth-child(2) {
    font-size: 25px;
}


/* section footer */


.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 50px 10px;
    gap: 20px;
}

.mapa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.mapa iframe {
    width: 100%;
}

.contact {
    display: grid;
    grid-template-rows: 3, 1fr;
    gap: 20px;
}

.contact p:nth-child(1) {
    font-size: 40px;
}

.contact .contact-info {
    display: grid;
    grid-template-rows: 3, 1fr;
    gap: 10px;
    list-style: none;
}

.contact .contact-info li {
    font-size: 25px;
}

.contact .redes {
    display: flex;
    gap: 10px;

}

.contact .redes i {
    color: #000000;
}

.contact .redes a i {
    transition: all 200ms ease-in;
}
.contact .redes a:nth-child(1) i:hover {
    color: #0d00ff;
}

.contact .redes a:nth-child(2) i:hover {
    color: #ff7520;
}

.contact .redes a:nth-child(3) i:hover {
    color: #1bcb30;
}

/* menu lateral */

.menu-lateral {
    cursor: pointer;
    transform: scale(1);
    font-size: 30px;

}

.menu-lateral:hover {
    transform: scale(1.1);
}

.menu-lateral:active {
    transform: scale(0.9);
}


/*  PANTALLAS GRANDES (M谩s de 1024px) */
@media (min-width: 1024px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
    }

    .mapa iframe {
        width: 400px;
        height: 300px;
    }

    .contact {
        max-width: 350px;
    }

    .menu-lateral {
        display: none;
    }
}

/*  TABLETS (Entre 768px y 1023px) */
@media (max-width: 1023px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .mapa iframe {
        width: 90%;
        height: 280px;
    }

    .contact {
        text-align: center;
    }

    .contact-info li {
        justify-content: center;
    }

    .redes {
        text-align: center;
    }

    .menu-lateral {
        display: none;
    }
}

/*  MVILES (Menos de 768px) */
@media (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .mapa iframe {
        width: 100%;
        height: 250px;
    }

    .menu-lateral {
        display: block;
    }

    .container-object a {
        display: none;
    }

    .data-time {
        gap: 20px;
    }

    .item-data p:nth-child(2) {
        margin-top: 10px;
    }

    .data-divider {
        display: none;
    }

    .servicies {
        display: flex;
        flex-direction: column;
    }

    .servicies .item-servicies {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    .servicies .item-servicies div {
        position: absolute;
        z-index: 2;
        background-color: var(--filtro);
        background-blend-mode: multiply;
        padding: 10px;

    }

    .servicies .item-servicies img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .mvv-container {
        display: grid;
    }

    .contact-info {
        text-align: start;
    }

    .container-object-lateral a>span {
        margin-right: 10px;
    }
}